@tailwind base;
@tailwind components;
@tailwind utilities;

.tableContainer{
    /* background-color: #1E1F25; */
    border-radius: 20px;
    height: 650px;
    padding: 0 10px 10px 10px;
    overflow: scroll;
}